<div id="background">
  <div class="photo" [style.background-image]="'url(' + photo1 + ')'" [class.fadein]="photoSwitch === 0" [class.fadeout]="photoSwitch === 1"></div>
  <div class="photo" [style.background-image]="'url(' + photo2 + ')'" [class.fadein]="photoSwitch === 1" [class.fadeout]="photoSwitch === 0"></div>
  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x8'></div>
  <div class='light x9'></div>
</div>
<img src="./assets/logo.png" class="logo">
<div class="info">Latest party pictures!</div>
