.background {
  background: #111111;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background.flash {
  background: white;
}

h1 {
  color: cyan;
  text-align: center;
  font-size: 80px;
  text-shadow: 0 0 50px black;
  margin-top: 1em;
  background: rgba(0,0,0,0.5);
  height: 80px;
  line-height: 90px;
  text-transform: uppercase;
}

.number {
  font-family: 'Press Start 2P', serif;
  font-size: 300px;
  display: block;
  margin: 0 calc(50% - 350px);
  color: #c000c0;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  text-align: center;
  line-height: 700px;
  font-weight: bold;
}
