
<iframe id="video1" width="1920" height="1080" src="https://www.youtube.com/embed/5N2ySHlCjms?controls=0&amp;start=10&autoplay=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe id="video2" width="1920" height="1080" src="https://www.youtube.com/embed/5N2ySHlCjms?controls=0&amp;start=10&autoplay=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="no-scroll">
  <div *ngIf="data.connected" class="group-container" [style.left]="position + 'vw'">
    <div class="group" *ngFor="let group of groups; let i = index" [class]="getAnimationClass(i)">
      <h1>{{group.name}}</h1>
      <ul>
        <li *ngFor="let product of allProductsFromGroup(group)">
          <span class="title" [class.soldout]="product.totalItems === 0">{{product.name}}</span>
          <span class="price">&euro; 0,-</span>
        </li>
      </ul>
    </div>
  </div>
</div>
