
.flex-container {
  display: flex;
}

.group-edit {
  flex: 1;
  max-width: 320px;
}

app-group-manager {
  max-width: 300px;
  margin: 5px;
}

app-product-manager {
  flex: 1;
  display: block;
  margin: 5px;
}
