<mat-toolbar (click)="goToAdmin()">Welcome at party {{codeService.currentCode()}}!</mat-toolbar>

<button mat-flat-button color="primary" routerLink="/send-message">
  <div><mat-icon fontIcon="mail"></mat-icon></div>
  Send Message
</button><br>
<button mat-flat-button color="primary" routerLink="/send-photo">
  <div><mat-icon fontIcon="image"></mat-icon></div>
  Send photo(s) & <br>video(s)
</button>
<button mat-flat-button color="secondary" (click)="codeService.setCode('');" style="height: 2em;">
  Switch welcome code
</button>

<div class="align-content-center"><small>V1.1.3</small></div>
