<div id="canvas">
  <div class="background">
    <div class="gotourl">
      <img src="http://localhost:5000/qrcode">
      <div class="text">Having a nice picture or message? Use the QR code and use the code <strong>{{code}}!</strong></div>
    </div>

    <div class="messagebox" *ngIf="message">
      <mat-icon>mail</mat-icon>
      <div class="text" [style.opacity]="animate">
        <strong>{{message.who}}:</strong><br><em>{{message.message}}</em>
      </div>
    </div>

    <div class="picturebox" *ngIf="picture" [style.opacity]="animate">
      <img [src]="getMime(picture)">
      <div class="text">{{picture.message}}</div>
    </div>
  </div>
</div>
